name: Deploy YNK Modelo (Prod)

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Fix repo permissions
        run: |
          sudo chown -R $(whoami):$(id -gn) /opt/ynk-modelo
          sudo chmod -R u+rwX /opt/ynk-modelo
      - name: Deploy on server
        run: |
          cd /opt/ynk-modelo
          ./deploy.sh
